apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
    uid: prometheus

  - name: PostgreSQL
    type: postgres
    url: postgres:5432
    database: ecommerce_erp
    user: $POSTGRES_USER
    secureJsonData:
      password: $POSTGRES_PASSWORD
    jsonData:
      sslmode: disable
      maxOpenConns: 5
      maxIdleConns: 2
      connMaxLifetime: 14400
    editable: false
    uid: postgres

  - name: Elasticsearch
    type: elasticsearch
    access: proxy
    url: http://elasticsearch:9200
    database: "logs-*"
    jsonData:
      esVersion: 8.0.0
      timeField: "@timestamp"
      logMessageField: message
      logLevelField: level
    editable: false
    uid: elasticsearch
